/* red: #D0021B */

body {
  font-family: sans-serif;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.three-fifths {
  flex: 5

}
.two-fifths {
  flex: 2
}

.two-thirds {
  flex: 2
}
.one-thirds {
  flex: 1
}

.two-sevenths {
  flex: 2;
}
.five-sevenths {
  flex: 5;
}

/* Page 1 Specific Styles
---------------------------------- */
#drop-cap {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 100px;
}

#title-area {
  text-transform: uppercase;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#title-area h1 {
  margin: 0 0.4rem;
}
#title-area h1:nth-child(2) span {
  border-bottom: 10px solid #D0021B;
}

#title-area h1:nth-child(1) {
  margin-left: -3rem;
}
#title-area h1:nth-child(2) {
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
}

#title-top {
  height: 200px;
  border-bottom: 10px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
#title-bottom {
  padding-top: 100px;
}
#title-bottom h2 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-right: 0;
}
#title-bottom h3 {
  margin: 0;
  font-weight: lighter;
}

#leader-top {
  height: 200px;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
#leader-bottom {
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}
#leader-bottom h4, #leader-bottom h5, #leader-bottom h6 {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

#leader-bottom h5 {
  font-weight: lighter;
  font-size: 2.18rem;
  margin: 0 1.5rem 0 0;
}

#leader-bottom h6 {
  font-size: 1.2rem;
  margin: 0;
  border-right: 0.5rem solid black;
}

.body-text {
  padding-right: 0.8rem;
}


/* Page 2 Specific Styles
---------------------------------- */
#page-2 {
  padding: 50px;
}
#studio-image {
  background-image: url("../images/Oskar-Schlemmer-Studio.jpg");
  height: 80vh;
  width: 100%;
  background-size: cover;
}
#studio-image img {
  width: 100%;
  display: none;
}
#studio-caption {
  justify-content: flex-end;
}
.caption {
  display: flex;
  align-items: flex-end;
}
.caption-year h3{
  margin: 0 0.2rem 0 0;
}
.caption-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}
.caption-title span {
  border-top: 0.5rem solid red;
}
.caption-text {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

/* Page 3 Specific Styles
---------------------------------- */
#page-3 {
  padding: 50px;
}

#page-3-top {
  align-items: baseline;
  margin-bottom: 6vh;
}
#page-3 h1 {
  text-transform: uppercase;
  border-top: 0.5rem solid #D0021B;
  font-size: 4rem;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin: 0 0 0 0.5rem;
}
#page-3-bottom p {
  margin-top: 0;
  padding-left: 20%;
}

#architechure-drawing {
  background-image: url("../images/Farkas-Molnar-Red-House.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
}
#architechure-drawing img {
  display: none;
}

/* Page 4 Specific Styles
---------------------------------- */
#page-4 {
  flex-direction: row-reverse;
}
#page-4-right p{
  margin: 0 0.5rem;
  font-size: 1.1rem;
  line-height: 1.3;
}
#page-4-right p:last-of-type {
  /* background-color: pink; */
  padding-bottom: 4rem;
}

.red-dot-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5rem 0;
}
.red-dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #D0021B;
  border-radius: 50%;
}

#more-info {
  padding: 1rem 1rem 3rem 3rem;
  border-top: 0.8rem solid black;
  border-right: 0.8rem solid black;
}
#more-info p {
  color: #D0021B;
  font-size: 0.8rem;
}

#return-slip {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
}
#return-slip-header {
  border-left: 0.8rem solid #D0021B;
}
#return-slip-header h1 {}
#return-slip-header h4 {
  text-align: right;
}
#return-slip-address-form {
  display: flex;
  align-items: stretch;
  flex: 1;
}
#return-slip-address-form .left-side {
  flex: 1;
  border-bottom: 0.8rem solid #D0021B;
  text-align: center;
}
#return-slip-address-form .right-side {
  flex: 5;
  padding: 2rem 1rem 0 0;
  text-transform: uppercase;
}
#return-slip-address-form .right-side h2 {
  margin: 0;
}
#return-slip-address-form .right-side h5 {
  border-left: 2px solid black;
}
#return-slip-address-form .right-side h5 span {
  border-left: 2px solid white;
}
